@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0px;
    padding: 0px;
    color: black;
    font-family: 'Poppins', sans-serif;
    background-color: rgba( 190, 190, 190, 0.1);
    padding-bottom: 0px;
}

header {
    background-color: darkorchid;
    position: fixed;
    top: 0;
    margin: 0px;
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: row;
    height: 40px;
    z-index: 1;
}

img {
    margin-top: 5px;
    margin-left: 10px;
    padding: 0px;
    width: 35%;
    padding-bottom: 5px;
    height: 30px;
}


#first {
    
    width: 20%;
}
 


#second {
    
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
   
}

ul {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 43vw;
}

li {
    font-family: 'Poppins', sans-serif;
    margin-right: 2vw;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(44, 2, 54);
}

#chi-siamo {
    
    margin-top: 40px;
    
    padding: 40px;
    padding-top:5px;
    
}

#inside-chi-siamo {
    
    position:relative;
    padding: 20px;
    padding-top:5px;
    margin: 0 auto;
    width: 50vw;
    text-align: justify;
    color: black;
    
}

p {
    font-size: 20px;
}
h1 {
    text-align: center;
    font-size:40px;
}

form {
    text-align: center;
    font-size: 18px;
}

input {
    width: 20vw;
    height: 2vh;
    margin-top: 0.7vh;
}

#submit {
    height: 2.6vh;
    
    color: white;
    background-color: darkorchid;
    border-radius: 12%;
    width: 60px;
}

#submit:hover {
    transform:scale(1.1);
    background-color: rgba(153, 50, 204, 0.9);
}

iframe {
    display: block;
    margin: 0 auto;
    margin-top: -50px;
   
    
}

#i-nostri-prodotti {
    display: flex;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 50px
}

.prodotto {
   margin-left: 2vw;
   margin-right: 2vw;
   font-size: 20px;
   text-align: justify;
   border-width: 0.1vw;
   border-color:black;
   border-style: solid;
   padding: 0;
   width: 65vw;
}

h3 {
    margin-top: 0px;
    padding: 0px;
    margin-bottom:8px;
    
}

.title {
    background-color: rgba( 190, 190, 190, 0.5);
    padding: 1vw;
    text-align:center;
    padding-bottom: 0.1vw;
}

.lorem {
    padding-left: 2vw;
    padding-right:2vw;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}

.scopri {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    padding-bottom: 1px;
    height: 40px;
    
    color: black;
    background-color: white;
    border-radius: 0%;
    margin-top: -20px;
    padding-top: 0px;
    border-radius:8%;
    font-size:14px;
    font-family: 'Poppins', sans-serif;
    background-color: darkorchid;
    color: white;
}

button:hover{
    transform:scale(1.1);
    background-color: rgba(153, 50, 204, 0.9);
}

footer {
    
    background-color: darkorchid;
    color: white;
    padding: 12px;
    
    position: relative;
    bottom: 0;
    padding-left: 5vw;

    width:100%
}

@media (max-width: 715px) {
    #i-nostri-prodotti {
        display: block;
    }

    .prodotto {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
}




   

